@media (max-width: 769px) {
  h2 {
    font-size: 1.4rem !important;
  }

  .navbar {
    display: block;

    .container {
      height: 100%;
      width: unset;
    }

    &__mobile-buttons {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;

      label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;

        span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid $border-grey;
        }
      }
    }

    #nav-check {
      &:not(:checked) {
        ~ .navbar__links {
          height: 0px;
        }
      }

      &:checked {
        ~ .navbar__links {
          height: 50vh;
          max-width: 50vw;
          overflow-y: auto;
        }
      }
    }

    &__links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgba($black, 0.8);
      height: 0px;
      transition: height 0.15s ease-in;
      overflow-y: hidden;
      top: 60px;
      right: 0;

      &--theme-switch {
        color: $color-text-white;
        margin-left: unset;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      a {
        display: block;
        color: $color-text-white;

        &:first-of-type {
          padding-left: 1rem;
        }
      }
    }
  }

  .alert {
    font-size: 13px;

    &--visible {
      height: 24px;
      padding: 0.6rem;
      padding-bottom: 0.8rem;
    }
  }

  .home-page {
    &__headlines {
      flex-direction: column;

      .dot {
        display: none;
      }

      p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }

    &__main-image {
      height: 70vh;
      margin-top: 2rem;

      &--stack {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 2rem;
      }
    }
  }

  .footer {
    &__content {
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
    }

    &__copyright {
      margin-top: 2rem;
    }
  }
}
