.footer {
  background: $color-text-white;
  border-top: 5px solid $text-default;
  color: $text-default;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

    .links,
    .social,
    .contact-info {
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          color: $text-default;
          display: flex;
          align-items: center;
          padding: 0 1rem;
          position: relative;
          text-align: center;

          a {
            color: $text-default;
            text-decoration: none;

            &:focus,
            &:hover {
              color: $text-default;
              text-decoration: none;
            }
          }
        }
      }
    }

    .social ul li {
      display: inline-block;
    }

    .contact-info ul li i {
      margin-right: 1rem;
    }
  }

  &__copyright {
    text-align: center;
  }
}
